*,
html {
  scroll-behavior: smooth !important;
}

/*
@media only screen and (min-width: 768px) {
  *,
  html {
    cursor: none;
  }
  .cursor {
    background-color: #265D97;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
  }
}
*/